<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="xrouterManagerAddress" value=";XRouter.Management.Implementation.XRouterManager" />
    <add key="gatewayName" value="Gateway1"/>
    <add key="dispatcherName" value="Dispatcher1"/>
    <add key="processorName" value="Processor1"/>
    <add key="processingProviderName" value="Broadcaster1"/>
  </appSettings>
</configuration>