<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="XRouter.Examples.Restaurant.RestaurantService.Service" behaviorConfiguration="metadataSupport">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8011/"/>
          </baseAddresses>
        </host> 
        <endpoint binding="basicHttpBinding" contract="XRouter.Examples.Restaurant.RestaurantService.IService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataSupport">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>    
   </system.serviceModel>
</configuration>