<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="xrouterManagerAddress" value=";XRouter.Management.Implementation.LocalXRouterManager" />
    <add key="gatewayName" value="Gateway1"/>
    <add key="schedulerName" value="Scheduler1"/>
    <add key="messageProcessorName" value="Broadcaster1"/>
  </appSettings>
</configuration>